{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Livre</h1>

    <table class="record_properties">
        <tbody>
        <ul>
            <li>
                <a>Livre:</a>
                <a>{{ entity.titreLivre }}</a>
            </li></br>

                <ul>
                    <li>
                        <a>Auteur :</a>
                        <a>{{ auteurs.nomAuteur }}</a>
                    </li>
                    <ul>
                        <li>{% if entity.getThemeLivre %}
                                <a >thème :</a>
                                <a>{{ themes.descriptionTheme }}</a>
                        </li></br>{% endif %}
                    </ul>
                </ul>

        </ul>
        </tbody>

    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('livre') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('livre_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
