{% extends "GestionBibliothequeBundle:AgentPret:index.html.twig" %}

{% block contenu %}
    <div class="well">
        {{ form_start(form, {'attr':{'id':'listePretRetourLecteur','class': 'form-horizontal'}}) }}
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.NomLecteur, "Nom du lecteur", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.NomLecteur) }}

            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(form.NomLecteur, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
        </div>

        {{ form_end(form) }}
    </div>


    <div id="result">
        {% if emprunterPL is defined %}
            {% include 'GestionBibliothequeBundle:AgentPret:listePretParLecteurRetour.html.twig' with {'emprunterPL': emprunterPL} %}
        {% endif %}

    </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-danger">
            {{ flashMessage }}
    {% endfor %}
    <script>

        $(document).ready( function() {
            $("#listePretRetourLecteur").submit(function(){
                //$(".loading").show();
                //var choice = $("#Gestion_BibliothequeBundlelivrertype_TitreLivre").selectedIndex;
                var motcle = $("#Gestion_BibliothequeBundlelecteurtype_NomLecteur option:selected").text();
                var DATA = 'motcle=' + motcle;
                $.ajax({
                    type: "POST",
                    url: "{{ path('gestion_bibliotheque_consulterListePretRetour')}}",
                    data: DATA,
                    cache: false,
                    success: function (data) {
                        $('#result').html(data);
                        //$(".loading").hide();
                    }
                });
                return false;
            });

        });
    </script>
{% endblock %}